@use '../styles/base' as base;

.doorFrame {
	all: unset;
	height: 3rem;
	width: 3rem;
	align-self: center;
	justify-self: center;
	border: 2px solid rgba(0, 0, 0, 0.466);
}

@media (min-width: base.$layout-breakpoint) {
	.doorFrame {
		height: 5rem;
		width: 5rem;
	}
}
.doorFrame:hover {
	cursor: pointer;
}

.doorFrame:disabled {
	cursor: auto;
}

.doorUnlocked {
	border: 2px solid black;
}

.doorOpen {
	background-color: base.$midnigt-blue;
}

.doorHasBeenOpened {
	border: 2px dashed black;
}

.doorNumberText {
	display: flex;
	justify-content: center;
	color: rgb(48, 47, 47);
}

.doorUnlockedNumberText {
	color: red;
	font-size: 1.5rem;
}

.currentDayText {
	font-size: 2rem;
}

@media (min-width: base.$layout-breakpoint) {
	.currentDayText {
		font-size: 3rem;
	}
}
