@use '../styles/base' as base;

.modalContainer {
	height: 16rem;
	width: 16rem;
	box-shadow: 22px 22px 10px rgb(53, 53, 53);
	border: 5px solid red;
	outline: 15px solid white;
	border-radius: 2px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

@media (min-width: base.$layout-breakpoint) {
	.modalContainer {
		height: 30rem;
		width: 30rem;
	}
}

.modalClosed {
	display: none;
}

.modalContent {
	text-align: center;
	font-family: base.$main-font;
}

.urlText {
	align-self: center;
	margin: auto;
}

.linkButton {
	margin-top: 2rem;
	padding: 1rem;
	border-radius: 5px;
	border: 2px solid black;
	box-shadow: 3px 3px 6px 0px base.$midnigt-blue;
	background-color: base.$evening-blue;
	background-image: linear-gradient(54deg, base.$evening-blue, white);
}

.linkButton:hover {
	cursor: pointer;

	background-color: base.$evening-blue;
	background-image: linear-gradient(54deg, base.$day-blue, white);
}

.closeButton {
	height: 2.5rem;
	width: 2.5rem;
	border: none;
	box-shadow: 5px 5px 9px 0px rgb(43, 42, 42);
	border-radius: 20px;
	position: absolute;
	top: -8%;
	left: 97%;
}
.closeButton {
	color: base.$midnigt-blue;
	font-size: 1rem;
	font-weight: bolder;
}

.closeButton:hover {
	cursor: pointer;
}
